@media screen and(max-width:1367px) {
	.content__layout__about-market {
		height: 500px;
	}
	//bestProduct
	.content__layout__bestProduct-box {
		max-width: 1266px;
	}
	.content__layout__bestProduct {
		height: 950px;
	}
	/// product
	.content__layout__product__container {
		max-width: 1284px;
	}
	.content__layout__product-list {
		margin-top: 116px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.content__layout__product-seeMore-btn {
		margin: 98px 21px 72px 58px;
	}

	//brand story
	.content__layout__brandStory-heading {
		left: 26%;
		> h3 {
			font-size: 4rem;
			letter-spacing: 4px;
		}
		> p {
			width: 711px;
		}
	}
	.content__layout__brandStory-table-text {
		width: 434px;
		> h4 {
			font-size: 2rem;
			line-height: 32px;
			margin-top: 30px;
		}
		> p {
			font-size: 1.4rem;
			line-height: 30px;
		}
	}
	///happened
	.content__layout__happened-item {
		height: 440px;
	}
	///WHAT HAPPEN
	.content__layout__happenedVideo {
		height: 1248px;
	}
	.content__layout__happenedVideo-heading {
		left: 30%;
		> h3 {
			padding: 173px 0 32px 0;
		}
		p {
			width: 668px;
		}
	}
	.content__layout__happenedVideo__seeMore {
		top: 30%;
		left: 46%;
	}
	.content__layout__happenedVideo-img {
		top: 40%;
		width: 65%;
		left: 17.5%;
	}
}

@media screen and(max-width:1025px) {
	.content__layout__about-market {
		height: 394px;
	}
	.content__layout__about-market-text-heading {
		font-size: 4rem;
		line-height: 42px;
		letter-spacing: 4px;
	}

	///bestProduct
	.content__layout__bestProduct {
		height: 777px;
	}
	.content__layout__bestProduct-text {
		> h3 {
			line-height: 50px;
			font-size: 4rem;
		}
		> p {
			text-align: center;
			line-height: 28px;
			font-size: 1.8rem;
			width: 647px;
		}
	}
	.content__layout__bestProduct-item {
		width: 94%;
		margin: 0 auto;
	}

	///product
	.content__layout__product__container {
		max-width: 882px;
	}
	.content__layout__product-list {
		margin-top: 74px;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.content__layout__product-seeMore-btn {
		margin: 73px 21px 101px 58px;
	}
	//@include
	.content__layout__brandStory {
		height: 769px;
	}
	.content__layout__brandStory-heading {
		top: -6%;
		z-index: 33;
		left: 15%;
	}
	.content__layout__brandStory-table-text {
		top: 42%;
		left: 54%;
		width: 340px;
		> h4 {
			font-size: 1.8rem;
			margin-bottom: 12px;
		}
		> p {
			font-size: 1.3rem;
			line-height: 28px;
		}
	}
	.content__layout__brandStory-table {
		position: absolute;
		top: 40%;
		left: 16.5%;
		z-index: 2;
		height: 441px;
		width: 73%;
		height: 47%;
	}
	.content__layout__brandStory-table-text-seeMore-btn {
		margin: 0;
		width: 136px;
		height: 44px;
		> span {
			font-size: 2rem;
		}
	}

	// happened
	.content__layout__happened-item {
		height: 320px;
	}

	.content__layout__happened-item .icon1 {
		width: 54%;
	}
	.content__layout__happened-item .icon-hot {
		width: 45%;
	}
	.content__layout__happened-item .icon3 {
		width: 45%;
	}

	/// what happened
	.content__layout__happenedVideo-heading {
		left: 19%;
		> h3 {
			font-size: 4rem;
			padding: 109px 0 32px 0;
		}

		> p {
			width: 649px;
		}
	}
	.content__layout__happenedVideo__seeMore {
		left: 44%;
		top: 30%;
		&-btn {
			width: 160px;
			height: 60px;
			> span {
				font-size: 2rem;
			}
		}
	}
	.content__layout__happenedVideo {
		height: 1000px;
	}
	.content__layout__happenedVideo-img {
		z-index: 1;
		top: 40%;
		width: 66%;
		height: 46%;
		left: 17.5%;
	}
}

@media screen and(min-width:740px) and (max-width: 1023px) {
	.content__layout__about-market {
		height: 356px;
	}
	.content__layout__about-market-text-heading {
		font-size: 4rem;
		line-height: 42px;
		letter-spacing: 4px;
	}
	.content__layout__about-market-text {
		width: 652px;
		margin-left: 80px;
	}

	/// bestProduct
	.content__layout__bestProduct {
		height: 579px;
	}
	.content__layout__product__container {
		max-width: 676px;
	}
	.content__layout__product-list {
		grid-gap: 40px 18px;
	}
	.content__layout__product-seeMore-btn {
		margin: 45px 21px 63px 58px;

		width: 106px;
		border: solid 2px #020001;
		height: 33px;
		> span {
			font-size: 1.6rem;
		}
	}
	/// branStroy
	.content__layout__brandStory {
		height: 600px;
	}
	.content__layout__brandStory-heading {
		top: -6%;
		z-index: 33;
		left: 21%;
		> h3 {
			letter-spacing: 4px;
			margin: 0;
			padding-top: 110px;
		}
		> p {
			width: 442px;
			line-height: 28px;
			font-size: 1.2rem;
			text-align: center;
			margin: 17px auto 0 auto;
		}
	}
	.content__layout__brandStory-table {
		top: 45%;
		left: 17%;
		width: 72%;
		height: 34%;
	}
	.content__layout__brandStory-table-text {
		top: 42%;
		left: 54%;
		width: 260px;
		> h4 {
			font-size: 1.2rem;
			margin-bottom: 4px;
			margin-top: 28px;
		}
		> p {
			font-size: 0.8rem;
			font-weight: normal;
			line-height: 16px;
		}
	}
	.content__layout__brandStory-table-text-seeMore-btn {
		margin: 0;
		width: 106px;
		border: solid 2px #020001;
		height: 33px;
		> span {
			font-size: 1.6rem;
		}
	}
	/// happened
	.content__layout__happened {
		height: 710px;
	}
	.content__layout__happened-dice {
		display: none;
	}
	.content__layout__happened-heading {
		> h3 {
			padding: 69px 0 12px 0;
			font-size: 3.5rem;
		}
		> p {
			width: 624px;
			font-size: 1.2rem;
			line-height: 25px;
		}
	}

	.content__layout__happened__seeMore-btn {
		margin-top: 28px;
		width: 106px;
		border: solid 2px #020001;
		height: 33px;
		> span {
			font-size: 1.6rem;
		}
	}
	.content__layout__happened-list-items {
		margin-top: 69px;
	}
	.content__layout__happened-item {
		height: 254px;
	}

	//// What Happened

	.content__layout__happenedVideo {
		height: 820px;
	}
	.content__layout__happenedVideo-heading {
		left: 24%;
		> h3 {
			font-size: 3rem;
			padding: 80px 0 0px 0;
		}
		> p {
			width: 416px;
			font-size: 1.4rem;
			line-height: 23px;
		}
	}
	.content__layout__happenedVideo__seeMore {
		left: 45%;
		top: 24%;
	}
	.content__layout__happenedVideo__seeMore-btn {
		margin-top: 28px;
		width: 106px;
		border: solid 2px #020001;
		height: 33px;
		> span {
			font-size: 1.6rem;
		}
	}
	.content__layout__happenedVideo-img {
		z-index: 1;
		top: 34%;
		width: 66%;
		height: 46%;
		left: 17.5%;
	}
	.content__layout__happenedVideo .imgContruct {
		position: absolute;
		top: 0;
		width: 100%;
		height: 93%;
	}
}

@media screen and(max-width:740px) {
	.content__layout__about-market {
		height: 252px;
	}
	.content__layout__about-market-text {
		width: 319px;
		margin-left: 36px;
		> h3 {
			font-size: 1.5rem;
			line-height: 15px;
			letter-spacing: 4px;
		}
		> p {
			font-size: 1.3rem;
			line-height: 24px;
		}
	}
	//bestProduct
	.content__layout__bestProduct {
		height: 1162px;
	}
	.content__layout__bestProduct-text {
		color: #f96400;
		padding-bottom: 28px;
		> h3 {
			line-height: 24px;
			font-size: 2rem;
		}

		> p {
			text-align: center;
			line-height: 22px;
			font-size: 1.4rem;
			width: 80%;
		}
	}
	.content__layout__bestProduct-box {
		max-width: 290px;
	}
	.content__layout__bestProduct-item {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 38px;
	}

	// Product
	.content__layout__product-list {
		margin-top: 40px;
		grid-template-columns: 1fr 1fr;
	}
	.content__layout__product__container {
		max-width: 312px;
	}
	.content__layout__product-list-item__info-name {
		font-size: 1.6rem;
	}
	.content__layout__product-seeMore-btn {
		margin: 55px 21px 68px 58px;
		border: solid 1px #020001;
		width: 167px;
		height: 48px;
		> span {
			font-size: 2rem;
		}
	}

	///brandProduct
	.content__layout__brandStory {
		height: 332px;
	}

	.content__layout__brandStory-heading {
		top: -6%;
		z-index: 33;
		left: 23%;
		> h3 {
			font-size: 1.6rem;
			letter-spacing: 2px;
			padding-top: 56px;
		}
		> p {
			width: 206px;
			line-height: 11px;
			font-size: 0.6rem;
			margin: -12px auto 0 auto;
			padding-top: 6px;
		}
	}
	.content__layout__brandStory-table {
		position: absolute;
		top: 43%;
		left: 16.5%;
		z-index: 2;
		width: 73%;
		height: 39%;
	}

	.content__layout__brandStory-table-text {
		width: 125px;
		> h4 {
			font-size: 0.6rem;
			margin-bottom: 0px;
			line-height: 8px;
			margin-top: 16px;
		}
		> p {
			font-size: 0.6rem;
			margin-bottom: 3px;
			line-height: 8px;
		}
	}
	.content__layout__brandStory-table-text-seeMore {
		&-btn {
			margin: 0;
			border: solid 1px #020001;
			width: 48px;
			height: 24px;
			> span {
				font-size: 0.6rem;
			}
		}
	}
	//happened
	.content__layout__happened {
		height: 524px;
	}
	.content__layout__happened-dice {
		display: none;
	}
	.content__layout__happened-heading {
		> h3 {
			font-size: 3rem;
			line-height: 40px;
			letter-spacing: 1.5px;
			padding: 55px 0 12px 0;
		}
		> p {
			width: 80%;
			font-size: 1.2rem;
			text-align: center;
			line-height: 25px;
		}
	}
	.content__layout__happened__seeMore {
		&-btn {
			margin-top: 20px;
			border: solid 1px #020001;
			width: 122px;
			height: 38px;
			> span {
				font-size: 1rem;
			}
		}
	}
	.content__layout__happened-list-items {
		margin-top: 64px;
	}
	.content__layout__happened-item {
		height: 130px;
	}
	//what happened
	.content__layout__happenedVideo {
		height: 400px;
	}
	.content__layout__happenedVideo-heading {
		left: 5%;
		> h3 {
			font-size: 2rem;
			padding: 52px 0 14px 0;
			line-height: 13px;
			letter-spacing: 2px;
		}
		> p {
			line-height: 12px;
			width: 58%;
			font-size: 0.8rem;
		}
	}
	.content__layout__happenedVideo__seeMore {
		left: 41%;

		&-btn {
			width: 80px;
			height: 26px;
			border: solid 1px #020001;
			> span {
				font-size: 1rem;
			}
		}
	}
}
